/* CSS Setup Layout for all pages*/


header, footer, aside, nav, article {
	display: block;
}

body {
  
	margin: 0 auto;
  padding: 0;
	display: block;
	font: 22px/22px Helvetic, Arial, sans-serif;	/* titlefont/other font */
	/*background: url("images/background.png");*/
}

#start
{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#startmenu
{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/*green */
.button1
{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
    width:125px;
  
}

.button1:hover
{
  opacity:0.5
}

/*red */
.button2
{
    background-color: #ff3300;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
    width:125px;
}

.button2:hover
{
  opacity:0.5
}


/*orange */
.button3
{
    background-color: #ff9933;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
    width:125px;
}

.button3:hover
{
  opacity:0.5
}


#question
{
  float:left;
}

#qnum
{
  /*hiding the counter number */
  font-size:0px;
  opacity:0;
}

/*-------- stat stuff ------*/
#statwrap
{
  float:left;
  margin-bottom: 100px;
}

#statbox
{
  max-width:300px;
  float:left;
  float:left;
  text-align: right;
  margin-right: 10px;
}


#bar
{
  float: left;
    /*
  display: block;
  */
    display: inline-block;
  width: 1000px;
}

#barbar
{
  float: left;
}

#statend
{
  float:left;
  margin-left:10px;
}

/* ------score stuff ---------*/
#scorename
{
  float: left;
  margin-right: 20px;

}


#scorebox
{
  float: left;
  max-width:1000px;
  display: block;
  margin-bottom:10px;
}

#resultcontainer
{
  position: absolute;
  top: 30%;
}

/*swipe test not working */
#swipbox
{
  
}

#swipbox.swipeleft
{
  opacity:0;
}

p{
  float:left;
  display:inline-block;
}


